@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@400;600&display=swap");

.great-vibes {
  font-family: "Great Vibes", cursive;
}

.custom-menu li {
  text-align: start;
  margin: 10px;
}
.custom-menu li:hover {
  transform: scale(1.1);
  transition: all 0.5s;
  cursor: pointer;
}

.custom-menu li:active {
  transform: scale(0.7);
  transition: all 0.5s;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
